<div class="container">
    <h1 align="center">All Posts</h1>

    <% @articles.each do |article| %>
    <article class="article">
        <div class="panel panel-info">
            <div class="panel-heading text-center">
                <strong><%= article.title %></strong>
            </div>
            <div class="panel-body">
                <%= article.description %>
            </div>
            <div class="panel-footer">
                <span><%= link_to "Show", article, class: "btn btn-md btn-info" %></span>
                <span><%= link_to "Edit", edit_article_path(article) , class: "btn btn-md btn-primary" %></span>
                <span><%= link_to "Remove", article, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-md btn-danger" %></span>
                <% if article.user %>
                    <div class="article-creator">
                        <small>
                            <p>created by <%= article.user.username %> <%=time_ago_in_words(article.created_at)%> ago</p>
                            <p>last updated <%= time_ago_in_words(article.created_atei) %> ago</p>
                        </small>
                    </div>
                <% end %>
            </div>
        </div>
    </article>
        <br/>
    <% end %>
</div>