<nav class="navbar navbar-default">
    <%= link_to 'ALPHA BLOG', root_path, class: "navbar-brand", id: "logo" %>
    <ul class="nav navbar-nav">
      <li><%=link_to 'ABOUT', about_path%></li>
      <li><%=link_to 'ARTICLES', articles_path%></li>
      <li><%=link_to 'NEW POST', new_article_path%></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <%= link_to "Sign Up", about_path, class: "btn btn-lg btn-primary" %>
    </ul>
</nav>