<!DOCTYPE html>
<html>
<head>
  <title>BOOM BLOG</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Navigation bar with social media icons -->
<ul class="w3-navbar w3-black w3-hide-small">
  <li><%=link_to 'HOME', root_path%></li>
  <li><%=link_to 'ABOUT', about_path%></i></li>
  <li><%=link_to 'ARTICLES', articles_path%></i></li>
  <li><%=link_to 'NEW POST', new_article_path%></i></li>
  <li class="w3-right"><a href="#"><i class="fa fa-search"></i></a></li>
</ul>

<% flash.each do |name, msg|%>
  <ul>
    <li><%= msg %></li>
  </ul>
<% end %>

<%= yield %>

</body>
</html>
